body {
  background-image: -webkit-linear-gradient(#BEF5E8, #1a63c3);
  font-family: arial; }

header {
  text-align: center; 
  }

nav ul {
  background-color: #1a63c3;
  font-size: 1.2em;
  color: white; 
  padding: 1pt;
  overflow: hidden;
  list-style-type: none;
   }

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 15px;
	text-decoration: none;
}

li a:hover {
	background-color: #0841a1; /* make same shade a little darker */
}

#openCart {
	float: right;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  border:  1px solid black;
}

input[type=number] {
	width: 3em;
}

#product-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  border:  1px solid black;
  justify-content: start;
}

.item {
	width: 200px;
	border: 1px solid red;
	margin: 0.9vw;/*  displays 4 columns in 1080p */
}

.item img {
	width: 200px;
}

#shoppingCart {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  flex-flow:  column;
  display: none;
}


div.Row {
  display: flex;
  flex-flow: column;
  max-width: 250px;
  max-height: 250px;
  margin: 5px; 
}

div.Items {
  display: flex;
  justify-content: space-around; 
}


footer {
  display: flex;
  border-top: 2px solid black; 
}

@media only screen and (max-width: 900px) {
  h1 {
    color: blue; } 
  }

table * {
  border: 1px solid #000;
  font-size: 20px;
}

table {
  margin: 5px;
  border: 2px solid #000;
  border-collapse: collapse;
}

.costs {
	padding: 0 0 0 6px;
	margin-top: 4px;
	margin-bottom: 0px;
}

#disc {
	border-bottom: 1px solid #000;
}